

<h5>{{userData.user_name}}</h5>
First Name: {{userData.first_name}}
<br>
Last Name: {{userData.last_name}}
<br>



<div class="wrapper">
    <ul id="projectsUl">
      <li *ngFor="let project of userProjects">
        <a [routerLink]="['/project', project.id]">
        <div class="projectCell" title={{project.field}}>
          <div>
            <h5>
            {{project.name}}
            </h5>
            Field: {{project.field}}
            <br>
            Description: {{project.description}}
            <br>
            Funds Target: {{project.fundingTarget | number:''}}
            <br>
            Funds Collected: {{project.totalFunds | number:''}}
            <br>
            Funding Rate: {{project.fundingRate | percent}}
            <br>
            Status: {{project.status}}
          </div>
          <div>
              <img [src]="project.picture_big">
          </div>
        </div>
        </a>
      </li>
    </ul>
  </div>

